<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*Html.ActionLink("Seattle Retail", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <a class="logo" href="/"><img src="~/Images/seattle_retail_logo_white_transparent.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right ">
                <li style="padding-top:15px">
                    <input type="text" id="search" placeholder="Search..." />
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
